.navbar{
    width: 100%;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgb(235, 235, 235);
  position: sticky;
  }
  .nav-img>img{
  width: 25%;
  margin: auto;
  margin-top: 35px;
  display: block;
}

  .box{
    display: flex;
    justify-content: space-evenly;
  
  }
  .box>a>h5{
    background-color: white;
    border: transparent;
    color: #333333;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: lighter;
    
  }
  .box>a>h5:hover{
    background-color: aqua;
  }
  .box>a{
    text-decoration: none;
    list-style: none;
  }
  .search{
    width:30%;
    display: flex;
    margin: auto;
    margin-right: 50px;
   margin-bottom: 20px;
  }
  .search>input{
    border: 1px solid #aaaaaa;
    padding: 10px;
    width:180%;
    
  }
  .image>img{
    width: 20%;
    margin-right: 25px;
  }
  .search>button{
    background-color: white;
    border: transparent;
    cursor: pointer;
  }