*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* navbar */
.navbar{
    width: 100%;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgb(235, 235, 235);
  position: sticky;
  }
  .nav-img>img{
  width: 25%;
  margin: auto;
  margin-top: 35px;
  display: block;
}
/* ram made changes */
#look{
  /* border: 1px solid black; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,50px);
  margin-top: 20px;
}
/* #look > div{
  border: 1px solid orange;
} */
#look > div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
}
#look > div:nth-child(2) > img{
  width: 80%;
  height: 70%;
}
#look > div:last-child {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 90%;
  margin-left: 40px;
}
#look > div:last-child > div{
  /* border: 1px solid green; */
  width: 7%;
  height: 60%;
}
#look > div:last-child > div >img{
  width: 100%;
  height: 100%;
}
/* ram made changes */


  .box{
    display: flex;
    justify-content: space-evenly;
  
  }
  .box>a>h5{
    background-color: white;
    border: transparent;
    color: #333333;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: lighter;
    
  }
  .box>a>h5:hover{
    background-color: aqua;
  }
  .box>a{
    text-decoration: none;
    list-style: none;
  }
  .search{
    width:30%;
    display: flex;
    margin: auto;
    margin-right: 50px;
   margin-bottom: 20px;
  }
  .search>input{
    border: 1px solid #aaaaaa;
    padding: 10px;
    width:180%;
    
  }
  .image>img{
    width: 20%;
    margin-right: 25px;
  }
  .search>button{
    background-color: white;
    border: transparent;
    cursor: pointer;
  }
    /* navbar */
    #bigSales{
        display: flex;
    }
    #leftSide{
        /* border: 1px solid red; */
        width: 20%;
    }
    #rightSide{
        /* border: 1px solid orange; */
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(12,400px);
        gap: 10px;
    }
    /* i was typing # insted of . finally... i found the error */
    /* .products{
        border: 1px solid black;
    } */
    .products > div:first-child{
        /* border: 1px dotted teal; */
        height: 50%;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products > div:first-child > img{
        height: 60%;
        width: 60%;
    }
    .products > div:last-child{
        text-align: center;
    }
    /* not working
    #btn:hover{
      background-color: white;
      color: black;
    } */
