.navbar{
    width: 100%;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgb(235, 235, 235);
    background-color: white;
    margin-bottom: 20px;
}
.select{
    width: 40%;
    margin: auto;

}
.select>img{
 width: 60%;
 margin: 10px 0px 10px 120px; 
}
.head{ 
    box-shadow: 3px 3px 3px rgb(235, 235, 235); 
    

}
.head .h1 {
    color: red;
    text-align: center;
}

.head .p{
    text-align: center;
}

.review{
  width: 50%;
  margin: auto;
  margin-top: 40px;
 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}
.personal{
    margin-left: 15px ;
    margin-right: 15px;
}
.personal h3{
    color: darkblue;
}
.review .personal img{
    width: 5%;
}
.review .personal {
    display: flex;
    flex-direction: column;
}
.review .personal input {
    padding: 8px ;
}
.review .personal select {
    padding: 8px;
}
.input{
    height: 50px;
}
.submit{
    width: 20%;
    margin-top: 10px;
    padding: 8px;
    font-size: larger;
    background-color: rgb(74, 74, 254);
    color: white;
}


.second{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
    gap: 30px;
    flex-flow: column;
    margin-top: 30px;
    margin-left: 40px;
    justify-content: space-between;

}
.email p{
    font-weight:bold ;
}
.second .emailBox {
    margin: 15px 0;
}
.second .emailBox span{
    margin-bottom: 15px 0;
    display: block;
}
.second .emailBox input{
   
    border: 1px  solid #ccc;
    padding: 10px 10px;
    font-size: 15px;
    text-transform: none;
}
.second .submit-btn{
    background-color: #000;
    color: #fff;
    cursor: pointer;
 }
 .temp:hover{
    color:#000 ;
    line-height: 20px;
    cursor: pointer;
   
 }
 .temp a{
    text-decoration: none;
  color:#000 ;

 }

.connected{
   margin-top: 10px;
}

 .connected a img{
    cursor: pointer;
    width: 8%;
 }   
 
 .image>img{
    
    width: 120%;
    margin-left: 100px;
 }
   



