#box{
    /* border: 1px solid black; */
    width: 70%;
    margin: 20px auto 50px auto;
}
#banner{
    width: 100%;
    height: 120px;
    /* border: 1px solid orange; */
    margin: 20px auto 50px auto;
    
}
#banner > img{
    width: 100%;
    height: 100%;
}
#details{
    /* border: 1px solid black; */
    width: 40%;
    margin: auto;
    height: 840px;
}
#details > form > input{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}
#details > form > label{
    font-size: 15px;
    /* not working */
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
#ptag1{
    font-size: 13px;
    margin-top: -20px;
    margin-bottom: 30px;
}
#ptag2{
    text-align: center;
    font-size: 14px;
}
#details > form > button{
    display: flex;
    margin: auto;
    padding: 10px 30px;
}
.ending{
    text-align: center;
    font-size: 14px;
}
#details > form > button{
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: rgb(51,51,51);
    color: white;
    border: none;
}