*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* navbar */
.navbar{
    width: 100%;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgb(235, 235, 235);
  position: sticky;
  }
  .nav-img>img{
  width: 25%;
  margin: auto;
  margin-top: 35px;
  display: block;
}

  .box{
    display: flex;
    justify-content: space-evenly;
  
  }
  .box>a>h5{
    background-color: white;
    border: transparent;
    color: #333333;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: lighter;
    
  }
  .box>a>h5:hover{
    background-color: aqua;
  }
  .box>a{
    text-decoration: none;
    list-style: none;
  }
  .search{
    width:30%;
    display: flex;
    margin: auto;
    margin-right: 50px;
   margin-bottom: 20px;
  }
  .search>input{
    /* border: 1px solid #aaaaaa; */
    padding: 10px;
    width:180%;
    
  }
  .image>img{
    width: 20%;
    margin-right: 25px;
  }
  .search>button{
    background-color: white;
    border: transparent;
    cursor: pointer;
  }

/* navbar */



    #bestDeals{
        width: 90%;
        height: 600px;
        display: flex;
        margin: auto;
    }
    #bestDeals > a{
        width: 100%;
        height: 100%;
    }
    #bestDeals > a > img{
        width: 100%;
        height: 100%;
    }
    #bestDeals + h3{
        text-align: center;
    }
    #todaysOffer{
        /* this can cause immense error
        display: flex;  */
        margin: auto;
        width: 90%;
        height: 330px;
        background-color: rgb(243,243,242);
    }
    #todaysOffer > div:first-child{
        text-align: center;
        padding-top: 10px;
    }
    #todaysOffer > div:last-child{
        /* display: flex; */
        display: grid;
        /* border: 1px solid black; */
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,200px);
        gap: 20px;

        /* i forgot how to use space around */
        justify-content: space-around;
        text-align: center;
        padding: 0px 100px 40px 100px;
        
    }
    #todaysOffer > div:last-child >div{
        /* border: 1px solid orange; */
        width: 100%;
        height: 100%;
    }
    #todaysOffer > div:last-child >div >div:first-child{
        /* border: 1px solid brown; */
        width: 100%;
        height: 65%;
    }
    #todaysOffer > div:last-child >div >div:last-child{
        /* border: 1px solid teal; */
        width: 100%;
        height: 20%;
    }
    .offer{
        /* border: 1px dotted purple; */
        background-color: white;
    }
    .offer > div > p{
        margin-top: -10px;
    }
    .offer > div > button{
        width: 70%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        background-color: rgb(51,51,51);
        color: white;
        border: none;
    }
    #box1{
        width: 90%;
        /* display: flex;
        margin: auto; */
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #bumperOffer{
        /* border: 1px dotted red; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,400px);
        gap: 20px;
    }
    #bumperOffer > div{
        border: 1px solid saddlebrown;
    }
    #bumperOffer > div > img{
        width: 100%;
        height: 100%;
    }
    #shopCat{
        text-align: center;
    }
    #shopByCat{
        /* border: 1px solid blue; */
        width: 90%;
        margin: auto;
    }
    #shopByCat > div{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(1,250px);
        gap: 20px;
    }
    #shopByCat > div > div{
        /* border: 1px solid green; */
        text-align: center;
    }
    #shopByCat > div > div >img{
        height: 70%;
        width: 100%;
    }
    #celebrating{
        width: 50%;
        height: 200px;
        /* border: 1px solid hotpink; */
        margin: auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #shopCollection{
        width: 90%;
        margin: auto;
        /* border: 1px dotted black; */
        display: flex;
        height: 400px;
    }
    #shopCollection > div{
        /* border: 1px solid green; */
        width: 50%;
        height: 100%;
    }
    #shopCollection > div > img{
        height: 100%;
        width: 100%;   
    }
    #shopCollection > div:last-child{
        display: flex;
    }
    #shopCollection > div:last-child > div{
        width: 50%;
        height: 80%;
        /* border: 1px solid purple; */
        margin: auto;
        text-align: center;
    }
    /* used inline insted */
    /* #shopCollection > div:last-child > div > img{
        width: 40%;
        height: 100%;  
    } */
    #celSummer{
        /* border: 1px solid darkblue; */
        width: 90%;
        height: 300px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #celSummer > img{
        width: 100%;
        height: 100%;
    }
    #gifts{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(1,30px);
    }
    #gifts div > button{
        padding: 5px 30px 5px 30px;
    } 
    #gifts+div{
        width: 80%;
        margin: 50px auto 50px auto;
        /* -----------------trick1--------------------- */
        text-align: center;
    }
    #greetingsHead{
        text-align: center;
    }
    #greetingsBody{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(1,200px);
        margin-bottom: 50px;
    }
    #greetingsBody > div{
        /* border: 1px solid navy; */
        /* margin: auto; */
        /* myTrick works */
        text-align: center;
    }
    #greetingsBody > div > img{
        width: 90%;
        height: 80%; 
    }
    #dividerRuler{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,60px);
    }
    /* #dividerRuler > div{
        border: 1px solid black;
    } */
    #dividerRuler > div:first-child{
        padding-top: 25px;
    }
    #dividerRuler > div:last-child{
        padding-top: 25px;
    }
    #dividerRuler > div >hr{
        padding-top: 10px;
        display: flex;
        
    }
    #dividerRuler > div:nth-child(2){
        display: flex;
        
    }
    #dividerRuler > div:nth-child(2) > div:first-child{
        /* border: 1px solid black; */
        width : 10%;
        height: 100%;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    #dividerRuler > div:nth-child(2) > div:first-child >svg{
        padding: 15px 5px 0px 5px;
    }
    #dividerRuler + p{
        text-align: center;
    }
    #inspiration{
        width: 75%;
        margin: 40px auto 40px auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,200px);
        gap: 40px;
    }
    /* #inspiration > div{
        border: 1px solid teal;   
    } */
    #inspiration > div >img{
        width: 100%;
        height: 100%;
    }
    #theEnd{
        width: 60%;
        margin: auto;
        /* border: 1px solid teal; */
        text-align: center;
        margin-bottom: 200px;
    }